@import url('https://fonts.googleapis.com/css?family=Aleo');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

body{
    margin: 0%;
    padding: 0%;
    /* aqui hacer el degradado */
    background: linear-gradient(#3138FF,#5D0FCE 60%,#6904C1);
    background-repeat: repeat-x;
    background-size: cover;
    width: 100%;
    height: 100%;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.pag-container{
    display: grid;
    grid-template-areas:
    "hdr"
    "bdy"
    "description"
    "abt-us"
    "ftr"
    ;
}

/* hdr */
.header-container{
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    place-content: center;
    place-items: center;
    background-color:rgba(255, 255, 255, 0.4);    
    top: 0;
    height: 10vh;
    grid-area: "hdr";
}

.drop-btn{
    background-color: white;
    text-shadow: 0.5rem;
    color: rgb(122, 62, 122);
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    height: 5vh;
    width: 7vw;
    font-weight: bold;
}

.drop-btn:hover, .drop-btn:focus {
    background-color: rgb(122, 62, 122);
    color:white;
}

.menu-container {
    position: relative;
    display: inline-block;
    text-align: center;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-content a:hover{
    background-color: grey;
}

/* se agrega con js */
.show {
    display: block;
}

#app-name{
    text-align: center;
    font-size: 2rem;
    color: white;
}

.access-container {
    text-align: right;
    font-size: 1.5rem;
}

.access-container a{
    color:white;
    font-weight: bold;
    padding-right: 2vw;
}


/* bdy */
.body-container{
    display: grid;
    grid-template-rows: 30% 0% auto;
    position: relative;
    place-items: center;
    height: 90vh;
    grid-area: "bdy";
}

.body-container::before{
    content: "";
    position:absolute;
    background-image: url('fotos/to_do.jpg');
    background-size: cover;    
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
}

.welcome-text{
    position: relative;
    color: white;
}

#p0 {
    font-size: 2.5rem;
}

#p1 {
    font-size: 2rem;
}

#p2 {
    font-size: 4rem;
    margin-bottom: 5%;
}

.description-section {
    grid-area: "description";
    display: grid;
    grid-template-areas: 
    "helptxt1 helpimg1 helpimg1"
    "helpimg2 helpimg2 helptxt2";
    row-gap: 20vh;
    padding: 10vh 3vh 3vh 3vh;
    place-items: center;
}

/* helptxt2 */
.help-text1{
    grid-area: helptxt1;
    font-weight: bolder;
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: 'Dosis';
}

/* helpimg1 */
.calendar-image{
    grid-area: helpimg1;
    background-image: url('fotos/calendar.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    width: 55vw;
}

/* helpimg2 */
.category-image{
    grid-area: helpimg2;
    background-image: url('fotos/category.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    width: 55vw;
}

/* helptxt2 */
.help-text2{
    grid-area: helptxt2;
    font-weight: bolder;
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: 'Dosis';
}




/* abt-us */ 
.aboutus-container{
    grid-area: "abt-us";
    padding-left: 3vw;
    padding-bottom: 5vh;
    color: white;
}

.aboutus-container h1{
    font-size: 3rem;
}

.aboutus-container p {
    font-size: 1.5rem;
    margin-right: 7vw;
    margin-left: 1vw;
}

/* ftr */
.footer-container{
    grid-area: "ftr";
    padding-top: 5vh;
    padding-left: 3vw;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
}

.footer-container h1 {
    font-size: 3rem;
}

.footer-container h2 {
    font-size: 2rem;
    margin-left: 2vw;
}

.footer-container dl {
    font-size: 1.2rem;
    margin-left: 3vw;
}